<!doctype html>
<html>
   <body>
      {% extends "bootstrap/base.html" %}

      {% block content %}
      <h1>Bootstrap Demo</h1>


      <table class="table table-striped table-bordered">
         <thead class="bg-primary">
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>Zipcode</td>
         </thead>
         
         {% for row in rows %}
            <tr class="bg-info">
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{row["city"]}}</td>
               <td>{{row['zip']}}</td>	
            </tr>
         {% endfor %}
      </table>
      {% endblock %}    
      
      <a href = "/">Go back to home page</a>
   </body>
</html>